.main-label {
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 3px;
  padding: 5px 15px;
  @include transition(all 0.4s);
  &.thin-label {
    font-size: 14px;
    line-height: 21px;
    padding: 5px 10px;
  }
  &.selected, &:hover {
    background-color: $textColor;
    color: #fff;
    border-color: $textColor;
  }
}
