/*------------------------------------------------------------------------------
    Bootstrap
------------------------------------------------------------------------------*/
.container-fluid {
  padding: 117px 0 0;
  margin: 0;
}

.container {
  max-width: 1200px !important;
}

input.form-control {
  border-color: $textColor;
  border-radius: 4px;
  color: $textColor;
  height: 45px;
  padding: 15px;
}

textarea.form-control {
  border-color: $textColor;
  border-radius: 4px;
  color: $textColor;
  height: 80px;
  padding: 15px;
}

select.form-control {
  height: 52px;
}

input.form-control,
textarea.form-control,
select.form-control {
  &:focus {
    box-shadow: none;
    border: 2px solid $textColor;
  }
}

label {
  font-size: 16px;
}

/*------------------------------------------------------------------------------
    Responsive
------------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
  .container-fluid {
    padding: 70px 0 0;
  }
  .container {
    max-width: 95% !important;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 97% !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100% !important;
  }
}
