/*------------------------------------------------------------------------------
    Bootstrap
------------------------------------------------------------------------------*/
.container-fluid {
  padding: 117px 0 0;
  margin: 0;
}

.container {
  max-width: 1200px !important;
}

input.form-control {
  border-color: $textColor;
  border-radius: 4px;
  color: $textColor;
  height: 45px;
  padding: 15px;
}

textarea.form-control {
  border-color: $textColor;
  border-radius: 4px;
  color: $textColor;
  height: 80px;
  padding: 15px;
}

select.form-control {
  height: 52px;
}

input.form-control,
textarea.form-control,
select.form-control {
  &:focus {
    box-shadow: none;
    border: 2px solid $textColor;
  }
}

label {
  font-size: 16px;
}

.table {
  th,td {
    border-top: none !important;
    border-bottom: 2px solid #000 !important;
    font-size: 18px;
    line-height: 27px;
    padding: 15px;
    vertical-align: middle;
    &:first-child, &:last-child {
      padding: 15px 0 !important;
    }
  }
}

/*------------------------------------------------------------------------------
    Responsive
------------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
  .container-fluid {
    padding: 70px 0 0;
  }
  .container {
    max-width: 95% !important;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 97% !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100% !important;
  }
  .table {
    th,td {
      font-size: 15px;
      line-height: 24px;
    }
  }
}
