/*------------------------------------------------------------------------------
    Colors
------------------------------------------------------------------------------*/
$mainColor: #becaea;
$textColor: #000;
$gray: #666;
$lightGray: #8c8c8c;
$lightCoffee: #f0e9d9;
$lightBlue: #e6efff;
$cream: #fff7e3;
