@mixin animation($property) {
  animation: $property;
  -webkit-animation: $property;
  -moz-animation: $property;
  -o-animation: $property;
}

@mixin animation-fill-mode($property) {
  animation-fill-mode: $property;
  -webkit-animation-fill-mode: $property;
}

@mixin transform($property) {
  transform: $property;
  -webkit-transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
}

@mixin filter($property) {
  filter: $property;
  -webkit-filter: $property;
}

@mixin transition($property) {
  transition: $property;
  -webkit-transition: $property;
}

@mixin circle($r) {
  border-radius: $r;
  height: $r;
  width: $r;
}

@mixin fullOverlay($background) {
  background: $background;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

@mixin range-slider($width, $height, $input-top, $input-bg-color, $input-thumb-color, $float:none, $input-height:5px, $input-border-radius:5px) {
  position: relative;
  width: $width;
  height: $height;
  float: $float;
  text-align: center;

  input[type="range"] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0;
    background: $input-bg-color;
    left: 0;
    top: $input-top;
    width: $width;
    outline: none;
    height: 1px;
    margin: 0;
    padding: 0;
  }

  input[type="range"]::-webkit-slider-thumb {
    background-color: $input-thumb-color;
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: $input-height;
    height: $input-height;
    border: none;
    border-radius: $input-border-radius;
  }

  input[type="range"]::-moz-range-thumb {
    background-color: $input-thumb-color;
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: $input-height;
    height: $input-height;
    border: none;
    border-radius: $input-border-radius;
  }

  input[type="range"]::-ms-thumb {
    background-color: $input-thumb-color;
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: $input-height;
    height: $input-height;
    border-radius: $input-border-radius;
    border: 0;
  }

  input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
  }

  input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
  }

  input[type=range]::-moz-focus-outer {
    border: 0;
  }
}
