.featured-product {
  .product-slideshow {
    .carousel {
      padding-bottom: 50px;
      .carousel-indicators {
        li {
          background-color: $gray;
          border: 1px solid $gray;
          @include circle(10px);
          &.active {
            background-color: $textColor;
            border: 1px solid $textColor;
          }
        }
      }
      .carousel-inner {
        .carousel-item {
          .product-image {
            height: 640px;
          }
        }
      }
    }
  }
  .product-images {
    display: flex;
    .small-images {
      min-width: 120px;
      padding-right: 3px;
      width: 120px;
      .small-image {
        cursor: pointer;
        height: 120px;
        margin-bottom: 3px;
      }
    }
    .main-image {
      height: 475px;
      width: 100%;
    }
  }
  .product-info {
    .product-price {
      font-size: 24px;
    }
    .purchase-info {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 0 !important;
    }
    .action-buttons {
      .btn-dark,
      .btn-light {
        display: block;
        margin-bottom: 6px;
        padding: 10px 15px !important;
        width: 100%;
      }
    }
    .product-specification {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 3px !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .featured-product {
    .product-images {
      .small-images {
        min-width: 70px;
        width: 70px;
        .small-image {
          height: 70px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .featured-product {
    .product-images {
      .small-images {
        min-width: 120px;
        width: 120px;
        .small-image {
          height: 120px;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .featured-product {
    .product-slideshow {
      .carousel {
        .carousel-inner {
          .carousel-item {
            .product-image {
              height: 450px;
            }
          }
        }
      }
    }
    .product-images {
      .small-images {
        min-width: 70px;
        width: 70px;
        .small-image {
          height: 70px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .featured-product {
    .product-images {
      flex-direction: column-reverse;
      .small-images {
        display: flex;
        flex-wrap: wrap;
        padding-top: 3px;
        padding-right: 0;
        min-width: initial;
        width: initial;
        .small-image {
          margin-right: 3px;
          min-width: 70px;
          width: 70px;
        }
      }
    }
  }
}
