.search-overlay {
  background-color: #fff;
  opacity: 0;
  position: fixed;
  padding: 15px 0 30px;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 10;
  @include transition(all 0.4s);
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .search-form {
    padding-right: 50px;
  }
  .container {
    position: relative;
    .close-search-overlay {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
