.text-main {
  color: $mainColor !important;
}

.text-dark {
  color: $textColor !important;
}

.text-light-gray {
  color: $lightGray !important;
}

.bg-light-coffee {
  background-color: $lightCoffee !important;
}
