/*------------------------------------------------------------------------------
    Colors
------------------------------------------------------------------------------*/
.text-main {
  color: $mainColor !important;
}

.text-dark {
  color: $textColor !important;
}

.text-light-gray {
  color: $lightGray !important;
}