.text-main {
  color: $mainColor !important;
}

.text-dark {
  color: $textColor !important;
}

.text-light-gray {
  color: $lightGray !important;
}

.text-gray {
  color: $gray !important;
}

.bg-dark {
  background-color: $textColor !important;
}

.bg-light-coffee {
  background-color: $lightCoffee !important;
}

.bg-light-blue {
  background-color: $lightBlue !important;
}

.bg-cream {
  background-color: $cream !important;
}
