.section-padding {
  padding: 70px 0;
}

.section-padding-sm {
  padding: 30px 0;
}

.section-padding-lg {
  padding: 120px 0;
}

.section-subtitle {
  margin: 0 auto;
  width: 720px;
}

.with-underline {
  text-decoration: underline !important;
}

.upper-case {
  text-transform: uppercase;
}

.border-dark {
  border-color: $textColor;
}

.remove-item {
  color: $lightGray;
  font-size: 14px !important;
  text-decoration: underline;
}

button.plain {
  background-color: transparent;
  border: none;
}

.article-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Outfit";
  }
  img {
    margin-bottom: 15px;
  }
}

.qty-input-wrapper {
  display: inline-block;
  height: 35px;
  position: relative;
  text-align: center;
  width: 70px;
  .form-control {
    border-color: $textColor;
    border-radius: 4px;
    height: 100%;
    padding: 0 !important;
    text-align: center;
  }
  .increase,
  .decrease {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
  }
  .increase {
    right: 10px;
  }
  .decrease {
    left: 10px;
  }
}

.slogans {
  position: relative;
  &::after {
    background-color: $textColor;
    content: "";
    height: 60%;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 2px;
    @include transform(translate(50%, -50%));
  }
}

@media screen and (max-width: 768px) {
  .section-padding,
  .section-padding-lg {
    padding: 35px 0;
  }
  .section-padding-sm {
    padding: 15px 0;
  }
  .section-subtitle {
    width: 100%;
  }
  .slogans {
    &::after {
      display: none;
    }
  }
}
