.btn-light {
  background-color: #fff !important;
  color: $textColor;
}

.btn-dark {
  background-color: $textColor !important;
  color: #fff;
}

.btn-dark, .btn-light {
  font-size: 18px;
  padding: 15px 50px;
}

@media screen and (max-width: 1200px) {
  .btn-dark, .btn-light {
    font-size: 16px;
    padding: 10px 35px;
  }
}

@media screen and (max-width: 576px) {
  .btn-dark, .btn-light {
    font-size: 14px;
    padding: 10px 20px;
  }
}
