.quick-shop-button {
  background-color: $textColor;
  border: 1px solid $textColor;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  padding: 10px 40px;
  &.sold-out {
    background-color: $gray;
    border-color: $gray;
  }
}