.password-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 15px;
  position: relative;
  &::after {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .shop-logo,
  #password-page-mode-toggler,
  .password-page-footer {
    position: absolute;
    z-index: 2;
  }
  .shop-logo {
    left: 120px;
    max-width: 125px;
    top: 45px;
  }
  #password-page-mode-toggler {
    right: 120px;
    top: 45px;
  }
  .password-page-footer {
    bottom: 50px;
    left: 50%;
    text-align: center;
    width: 100%;
    @include transform(translateX(-50%));
    .password-page-footer-link {
      color: #fff;
      padding: 0 15px;
      position: relative;
      &:not(:last-child) {
        &::after {
          background-color: #fff;
          content: '';
          height: 20px;
          position: absolute;
          right: 0;
          top: 50%;
          width: 1px;
          @include transform(translateY(-50%));
        }
      }
    }
  }
  .password-subscribe-form {
    position: relative;
    z-index: 2;
    .subscribe-form {
      .btn-dark {
        border-radius: 0 4px 4px 0;
      }
    }
  }
  .password-form-wrapper {
    display: none;
    margin: 0 auto;
    position: relative;
    width: 527px;
    z-index: 2;
    .password-form {
      .btn-dark {
        border-radius: 0 4px 4px 0;
      }
    }
  }
  &.password-mode {
    .shop-logo {
      left: 50%;
      @include transform(translateX(-50%));
    }
    #password-page-mode-toggler,
    .password-page-footer,
    .password-subscribe-form {
      display: none;
    }
    .password-form-wrapper {
      display: block;
    }
  }
}

@media screen and (max-width: 992px) {
  .password-container {
    .shop-logo {
      left: 60px;
    }
    #password-page-mode-toggler {
      right: 60px;
    }
  }
}

@media screen and (max-width: 768px) {
  .password-container {
    .shop-logo {
      left: 15px;
      max-width: 100px;
      top: 15px;
    }
    #password-page-mode-toggler {
      right: 15px;
      top: 15px;
    }
    .password-page-footer {
      bottom: 15px;
    }
  }
}
